[submodule "kicad-footprints/Panelization.pretty"]
	path = kicad-footprints/Panelization.pretty
	url = git@github.com:madworm/Panelization.pretty.git
[submodule "digikey-kicad-library"]
	path = digikey-kicad-library
	url = git@github.com:digikey/digikey-kicad-library.git
[submodule "olimex-kicad"]
	path = olimex-kicad
	url = git@github.com:OLIMEX/KiCAD.git
[submodule "SparkFun-KiCad-Libraries"]
	path = SparkFun-KiCad-Libraries
	url = git@github.com:sparkfun/SparkFun-KiCad-Libraries.git
[submodule "tinkerforge-kicad-libraries"]
	path = tinkerforge-kicad-libraries
	url = git@github.com:Tinkerforge/kicad-libraries.git
[submodule "freetronics_kicad_library"]
	path = freetronics_kicad_library
	url = git@github.com:freetronics/freetronics_kicad_library.git
[submodule "ab2-kicad-library"]
	path = ab2-kicad-library
	url = git@github.com:ab2tech/KiCad.git
[submodule "stm32-kicad-lib"]
	path = stm32-kicad-lib
	url = git@github.com:esden/stm32-kicad-lib.git
