#.travis.yml
dist: bionic

script:
  - hostname

after_success:
  - id
  - sudo apt update
  - sudo apt install -y python3 python3-pip python3-dev python3-wheel python3-setuptools
  - pip3 install --user pipenv
  - cd _utils
  - pipenv sync
  - pipenv run python3 merge.py

notifications:
  slack: louislabs:x4D51HjnR30LGpqZXrdbqUgB